<div>
    <div>
        <h1>SCRAPPING GITHUB API</h1>
    </div>
    <div>
        Click <a target="_blank" href="https://github.com/bleiterafael/githubscrapper">here</a> to access GitHub Project.
    </div>
    <div style="margin-top:30px;margin-bottom:0px">
        Developed by <i>Rafael Batista Leite</i>
    </div>
</div>